<% #Controller: /app/controllers/post_controller %>
<% #Method: index()  %>
<!-- adfasdf -->

<!-- HTML -->
<html lang-"en">
    
    <!-- head of file -->
    <head>
        <title>Uberskate</title>
        <%= render 'nav' %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <!-- body -->
    <body>
        <div class = "container">
            
            <div class = "jumbotron">
                <center><h1>Welcome to Uberskate</h1>
                <p>challenge other skaters in your area</p>
                <a class = "page-scroll" href="#map"><button class = "btn btn-default">Map</button></a>
                <a class = "btn btn-info">Tweet it!</a></center>
                
                
                <button class="btn btn-default" onclick="$('#target').toggle();">Show/Hide</button>
                <div id="target">
                    Hide show.....
                </div>


                
            </div>
               
        </div>
        
        <div class = "container" id = map>
           
            <div class = "row">
               
                <h3><a href = "#">What our app does</a></h3>
                <p>Nothin yet..</p>
                <a href = "#" class = "btn btn-default">Read More</a>
                   
                <img src="http://geology.com/world/world-map.gif">

            </div>
            
           
        </div>
        
        
        <div class = "container" id = "about">
            <div class = "col-md">
                <center><h2>About</h2></center>
            </div>  
        </div>
        
        <div class = "container" id = "about">
            <div class = "col-md-offset-4">
                <div class = "jumbotron">
                    <h3>What it does</h3>
                    
                </div>
            </div>
        </div>
       
        
    </body>
</html>